[run]
branch = true
source = sonoloc
omit =
    sonoloc/models/*

[report]
show_missing = true
skip_covered = false
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if TYPE_CHECKING:
    if __name__ == .__main__.:
